<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        {% include 'navBar.html.twig' %}
        <style type="text/css">
            table {
                border-collapse: collapse;
                margin: 20px auto;
            }

            td {
                border: 1px solid black;
                width: 40px;
                height: 40px;
                text-align: center;
                font-size: 18px;
            }

            input[type="checkbox"] {
                transform: scale(2);
            }

            button {
                display: block;
                margin: 20px auto;
                padding: 10px 20px;
                font-size: 18px;
                background-color: #4CAF50;
                color: white;
                border: none;
                border-radius: 4px;
            }
            .selected {
                color: darkred;
                font-weight: bold;
            }

            button:disabled {
                background-color: #ddd;
                color: #666;
            }

        </style>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
